<mat-toolbar class="header">
  <span>Análisis y Desarrollo de Software</span>
</mat-toolbar>

<div class="content">
  <app-empleado-form></app-empleado-form>
</div>

<footer class="footer">
  <h2>ACERCA DE</h2>
  <p class="description">
    Análisis y Desarrollo de Software | GA8-220501096-AA1-EV01 desarrollar software a partir de la integración
    de sus módulos componentes. Para este formulario se utilizó NestJS para el Backend, y para el FrontEnd se está utilizando el Framework Angular.
  </p>
  <hr />
  <span>© 2024 Hecho por: <span class="highlight">Julián  | Jonathan  | Felipe | Yoiner</span>.</span>
</footer>
