<mat-toolbar class="header">
  <span>Análisis y Desarrollo de Software</span>
</mat-toolbar>

<div class="content">
  <app-empleado-form></app-empleado-form>
</div>

<footer class="footer">
  <h2>ACERCA DE</h2>
  <p class="description">
    Análisis y Desarrollo de Software | Este es el primer challenge para resolver del Oracle ONE. Se realizó utilizando muchos ejemplos que pude observar dentro de las clases preparatorias. Se basa en un encriptador sencillo haciendo uso de HTML, CSS y el lenguaje de programación JavaScript.
  </p>
  <hr />
  <span>© 2024 Hecho por: <span class="highlight">Julián  | Jonathan  | Felipe | Yoiner</span>.</span>
</footer>
